@import 'colors.scss'
.main{
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.selected{
    background-color:var(--se) ;
}
